body {
  background-color: black;
  color: white;
  // background-image: url('../images/gradient.svg');
}

.shit-div{
  margin-top: 280px;
}

.title{
  width: 250px;
  margin: 0 auto;
}

.hate-me{
  width: 180px;
  margin: 0 auto;
}

.endiv{
  width: 80px;
  margin: 0 auto;
}
